div.side {

  div.titlebox {
    span.word {
      display: none
    }
    span.number:after {
      content: " writers"
    }
  }

  div.usertext-body {
    div.md {

      /* Announcement bar */
      table {

        position:absolute;
        display: block;
        top: 56px;
        left: 40px;

        background-color: #F2F2F2;
        color: #555555;
        text-align: left;
        margin: 15px;
        border-radius: 8px;
        width: 50%;
        padding: 7px 0px 7px 40px;
        /*this code creates the image*/
        background-image: url(%%announceicon%%);
        background-repeat: no-repeat;
        background-position: left;

      }

    }
  }
}